version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: KiriBlog-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: KiriBlog_dev
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  #run: docker-compose up
  